body {
    font-size: 12px;
    background: white;
    color: black;
    font-family: sans-serif;
    padding: 8px;
    margin: 0;
}

body.failed {
    background-color: #ffc4ac;
}

#summary {
    text-align: right;
}

h1 {
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0;
}

tr {
    margin: 0;
    padding: 0;
    border: 0;
}

td {
    margin: 0;
    padding: 0;
    bottom: 0;
}

img {
    display: block;
}

.graph {
    display: inline-block;
    position: relative;
    padding: 8px;
    margin: 4px;
    width: 450px;
    height: 180px;
    border: 1px solid white;
    overflow: hidden;
}

.graph.failed {
    background-color: red;
}

.graph.passed {
    background-color: green;
}

.graph{
    border: 0;
    margin: 0;
}

.graph.disabled, .graph.never-run {
    display: none;
    background-color: #808080;
    opacity: 0.5;
}

div.description {
    position: absolute; /* absolute position (so we can position it where we want)*/
    bottom: 40%; /* position will be on bottom */
    left: 15%;
    width: 100%;
    font-size: 40px;
    color: gray;
    opacity: 0.9; /* transparency */
}

p.descriptiontext {
    padding: 10px;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.spinner {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-image: url(../shared/spinner.png);
    -webkit-animation: spinnerRotate 2s linear infinite;
    -moz-animation: spinnerRotate 2s linear infinite;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinnerRotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

.waiting .spinner {
    display: none;
}

#graphs-fail:empty {
    display: none;
}

#graphs-fail {
    background-color: red;
    margin-bottom: 64px;
}
